<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3dpZnRzcGVlY2giLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7InVybFN0
		cmluZyI6Imh0dHBzOlwvXC9naXRodWIuY29tXC9DYXktWmhhbmdcL1N3aWZ0
		U3BlZWNoIn1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQi
		OnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIwLjkuMyIsInVwcGVyQm91bmQi
		OiIxLjAuMCJ9XX19XX1dLCJkaXNwbGF5TmFtZSI6IkxpdmVIaW50IiwicGFj
		a2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMi
		OltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTguMSJ9XSwi
		cHJvZHVjdHMiOlt7Im5hbWUiOiJMaXZlSGludCIsInNldHRpbmdzIjpbeyJk
		aXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEi
		XX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xv
		ciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6ImJsdWUifX19LCJhcHBJ
		Y29uIjp7InBsYWNlaG9sZGVyIjp7Imljb24iOnsicmF3VmFsdWUiOiJydW5u
		aW5nIn19fSwiY2FwYWJpbGl0aWVzIjpbeyJwdXJwb3NlIjoic3BlZWNoUmVj
		b2duaXRpb24iLCJwdXJwb3NlU3RyaW5nIjoiU3ByYWNoZXJrZW5udW5nIHdp
		cmQgdmVyd2VuZGV0LCB1bSBsaXZlIFZvcnNjaGzDpGdlIGFuenV6ZWlnZW4u
		In0seyJwdXJwb3NlIjoibWljcm9waG9uZSIsInB1cnBvc2VTdHJpbmciOiJE
		YXMgTWlrcm9mb24gd2lyZCB2ZXJ3ZW5kZXQsIHVtIGRlaW5lIFN0aW1tZSBh
		dWZ6dXplaWNobmVuLiJ9LHsiYXBwVHJhbnNwb3J0U2VjdXJpdHlDb25maWd1
		cmF0aW9uIjp7ImV4Y2VwdGlvbkRvbWFpbnMiOlt7ImRvbWFpbk5hbWUiOiIx
		MjcuMC4wLjEiLCJleGNlcHRpb25BbGxvd3NJbnNlY3VyZUhUVFBMb2FkcyI6
		dHJ1ZSwiaW5jbHVkZXNTdWJkb21haW5zIjp0cnVlfSx7ImRvbWFpbk5hbWUi
		OiIxOTIuMTY4LjIxMS42MCIsImV4Y2VwdGlvbkFsbG93c0luc2VjdXJlSFRU
		UExvYWRzIjp0cnVlLCJpbmNsdWRlc1N1YmRvbWFpbnMiOnRydWV9XX0sInB1
		cnBvc2UiOiJhcHBUcmFuc3BvcnRTZWN1cml0eSJ9LHsicHVycG9zZSI6Imxv
		Y2FsTmV0d29yayIsInB1cnBvc2VTdHJpbmciOiJUaGUgc2VydmVyIG1heSBi
		ZSBvbiB0aGUgbG9jYWwgbmV0d29yayJ9LHsicHVycG9zZSI6Im91dGdvaW5n
		TmV0d29ya0Nvbm5lY3Rpb25zIn1dLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGll
		cyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRh
		dGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319
		LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7
		ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1d
		LCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUi
		Om51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5j
		aWVzIjpbeyJwcm9kdWN0IjpbIlN3aWZ0U3BlZWNoIiwiU3dpZnRTcGVlY2gi
		LG51bGwsbnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUi
		LCJwYWNrYWdlQWNjZXNzIjp0cnVlLCJwYXRoIjoiLiIsInJlc291cmNlcyI6
		W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0s
		InNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVwY29taW5nRmVhdHVyZSI6
		eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMifX0sInRvb2wiOiJzd2lm
		dCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVu
		ZGVuY2llcyI6W3sicHJvZHVjdCI6WyJTd2lmdFNwZWVjaCIsIlN3aWZ0U3Bl
		ZWNoIixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9k
		dWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6Ii4iLCJyZXNvdXJj
		ZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJydWxlIjp7InByb2Nlc3MiOnt9
		fX1dLCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1
		cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoi
		c3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24i
		OnsiX3ZlcnNpb24iOiI1LjkuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		u6+5R7YO8rv9MQuOWEXmQ3Ua3LEM+fFQWrryS0B1yPs=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
